body{
    background-color: black;
    
}
.parent-container{
    position: fixed;
    width: 15%;
    height: 100vh;
    top: 0;
    background-color: black;
    z-index: 3;
}

.xx{
    display: none;
}
.notify{
    position: absolute;
    color: #e4e6e7;
    font-size: 20px;
    font-weight: 700;
    margin-left: 3%;
    top: -90px;
    padding-top: 100px;
    
}
.set{
    position: fixed;
    top: 0;
    left: 95%;
}
.settings{
    width: 20px;
    z-index: 999;
    padding-top: 15px;
}
.head{
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: start;
    align-items: end;
    border: 1px solid #31373a;
    margin-left: 15%;
    width: 590px;
    height: 18vh;
    background: rgba(0, 0, 0, 0.4);
   backdrop-filter: blur(10px);
    border-top: 0;
    
}
.son{
    display: flex;
    align-items: end;
    justify-content: space-around;
    width: 100%;
    height: 15vh;
    outline: none;
    overflow-x: auto;
   
    white-space: nowrap;
    padding-bottom: 10px;
}
.son::-webkit-scrollbar{
    overflow: hidden;
}
.son div{
    padding-top: 13px;
    color: #6e7378;
    font-size: 15px;
    font-weight: 540;
    font-family: Arial, Helvetica, sans-serif;
}
.son div:hover{
    color: white;
   border: 1px solid white;
   display: flex;
   justify-content: center;
   
   width: 100px;
   background-color: lightgrey;
   border: none;
   

}
.oic{
    display: none;
}
.second{
    margin-left: 60%;
}

.logo{
    width: 26px;
    padding-top: 23px;
}
.sogo{
    display: none;
}
.leave{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.rogo{
    width: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.gogo{
    width: 25px;
   
}
.reshape{
    margin-left: -10px;
}
.undefined{
    margin-left: 15%;
    border: 1px solid  #31373a;
    width: 590px;
    height: auto;
    padding-bottom: 20px;
    
}
.fined{
    margin-left: 15%;
    border: 1px solid  #31373a;
    width: 590px;
    height: auto;
    
}
.teach{
    border: 1px solid white;
    width: 85%;
    height: 7.5vh;
    border-radius: 20px;
    position: fixed;
    background-color: black;
    top: 5px;
    z-index: 999;
    border: none;
}


.search{
    border: 1px solid white;
    width: 350px;
    height: 4vh;
    position: fixed;
    background-color: black;
    top: 0;
    z-index: 999;
    border: none;
    border-bottom: 1px solid #31373a;
    
}

.input{
    position: fixed;
    z-index: 1;
    display: flex;
    top: 6px;
    align-items: center;
    font-size: 14px;
    width: 350px;
    height: 7.5vh; 
    background-color: black;
    border: none;
    border: 1px solid #31373a;
    border-radius: 20px;
    padding-left: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='15'%3E%3Cg%3E%3Cpath fill='gray' d='M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z'/%3E%3C/g%3E%3C/svg%3E") no-repeat left center;
    padding-left: 30px;
    background-position: 8px center;
    color: white;

 
    
}
.input:focus{
    border: 2px solid #1c96e8;
    outline: none;
}
/* .daddyy {
  margin-left: 65%;
  margin-top: -800vh;
} */
.mummyy{
   margin-top: 40px;
   height: 600px;
   border: 1px solid white;
   width: 450px;
   height: 90vh;
   position: fixed;
   overflow: auto;
   border-radius: 10px;
   border: none; 
 
}
.mummyy::-webkit-scrollbar{
    overflow: hidden;
}
.space{
    border: 1px solid #31373a;
    height: auto;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.news{
    border: 1px solid #31373a;
    height: auto;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.to{
    border: 1px solid #31373a;
    height: auto;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
   
}

.premium-unlock{
    padding: 30px;
    padding-left: 15px;
    padding-top: 10px;
}
.premium{
    font-size: 20px;
    font-weight: 800;
    color: #e7e6e6;
   
   
}
.unlock{
    color: #e7e6e6;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 0 !important;   
}
.rive{
    padding-top: 10px;
}
.scripe{
    border: 1px solid blue;
    width: 110px;
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: #1d9bf0;
    cursor: pointer;
    justify-content: center;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    
}
.scribe{
    color: white;
    font-size: 15px;
    font-weight: 700;
}
.ace{
    color: white;
    font-size: 20px;
    font-weight: 800;
    font-family: sans-serif;
}
.case{
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    
    
}
.side{
    display: flex;
    gap: 20px;
}
/* .purple{
    border: 2px solid #f91880;
    width: 130px;
    height: 6vh;
    
    display: flex;
   
    justify-content: flex-start;
    gap: 20px; 
} */
 .purple img{
  width: 30px;
  height: 30px;
  border-radius: 50%; 
}
/* .dds img{
    margin-left: 0;
    padding-left: -10px;
}  */
.yip{
    color: white;
    font-weight: bold;
    position: absolute;
    z-index: 3;
    right: 120px;
}
.free{
    padding-top: 15px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.Surple{
    display: flex;
    justify-content: flex-start;
   
}
.Surple img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
.orts{
    color: gray;
    font-size: 13px;
    margin-left: 15px;
}
.wooo img{
    border-radius: 20px;
}
.turple{
    display: flex;
    justify-content: flex-start;
    
}
.lace{
    font-size: 15px;
    font-weight: 700;
    color: white;
}
.tik{
    color: #65696e;
    font-size: 14px;
  
}
.ree{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
.cod{
    width: 20px;
}
.tide{
    display: flex;
    justify-content: space-between;
}
.yupu{
    border: 2px solid white;
    width: 100px;
    height: 6vh;
    border-radius: 20px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    /* margin-top: -20px; */
}
.yeah{
    font-size: 14px;
    font-weight: 700;
   
}
.tuuu{
    font-size: 11px;
    color: gray;
    text-align: center;
   word-spacing:5px;
}
.bobby{
    position: fixed;
    right: 20px;
    bottom: 30px;
    border: 1px solid black;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 20px;
    align-items: center;
   box-shadow: 0 0 10px rgba(162, 159, 159, 0.918);

   
}
.mogo{
    width: 30px;
}
.pics{
    display: block !important;
    margin-top: 65px !important;
    margin-left: -5px;
}
.tics{
    display: none;
}

.pic img{
    width: 40px;
    border-radius: 50%;
}
.world{
    width: 18px;   
}
.username{
   font-size: 15px;
    color: gray;
    font-weight: 400;  
}
.premium-lock{
    padding-left: 20px;
    padding-top: 10px;
}
.bef{
    color: white;
}
.bef img{
    width: 40px;
    border-radius: 50%;
}
.twoo{
   width: 30px;
}
.footer{
    display: none;
}

.axios{
   position: absolute;
  top: 100px;
  height: 57vh;
  width: 590px;
  display: block !important;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.01));
  z-index: 1;
    color: white;  padding-left: 20px; ; display: flex; align-items: flex-end;
}
.nicolo{
    position: relative;
}
.define{
    color: white;
    margin-left: 10px;
    font-family: sans-serif;
    font-weight: 700;
    /* position: relative; */
}
.nicolo:hover .no-display{
    display: block;
    top: 45px;
    
}
.no-display{
    position: absolute;
    border: 1px solid white;
    border: none;
    width: 300px;
    z-index: 2;
    border-radius: 10px;
    display: none;
   background-color: black;
    box-shadow: 0 0 10px rgba(162, 159, 159, 0.918);
}

.define:hover{
    text-decoration: underline;
}
.username{
    font-size: 15px;
    color: gray;
    font-weight: 400;  
}
.username:hover{
    text-decoration: none;
}
.twitter-tweet{
    margin-left: 15%;
   border: none;
}
.inner{
    color: white;
    margin-left: 50px;
    font-family: sans-serif;
    font-size: 15px;
}

.machia{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.under{
    color: white;
    font-family: cursive;
    font-size: 19px;
}
.ox{
    margin-top: 10px;
    width: 60%;
    height: 70vh;
    margin-left: 50px;
    background-image: url("X VIDEOS AND IMAGES/G3PI5BnXsAAIAYb.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 20px; 
}
.box{
     margin-top: 10px;
    width: 60%;
    height: 70vh;
    margin-left: 50px;
    background-image: url("X VIDEOS AND IMAGES/G3O7LByWAAAQfhr.jfif");
    background-position: center;
    background-size: cover;
    border-radius: 20px; 
}
.tox{
    margin-top: 10px;
    width: 60%;
    height: 70vh;
    margin-left: 50px;
    background-image: url("X VIDEOS AND IMAGES/G3Qt9zmXAAAfdWm.jfif");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.cox{
     margin-top: 10px;
    width: 60%;
    height: 70vh;
    margin-left: 50px;
    background-image: url("X VIDEOS AND IMAGES/G3Pu9BXXIAAwfqL.jfif");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.dox{
     margin-top: 10px;
    width: 70%;
    height: 60vh;
    margin-left: 50px;
    background-image: url(https://pbs.twimg.com/media/G3QQNSIWEAACXxp?format=jpg&name=small);
    background-position: center;
    background-size: cover;
    border-radius: 20px; 
}
.eox{
     margin-top: 10px;
    width: 80%;
    height: 70vh;
    margin-left: 50px;
    background-image: url(https://pbs.twimg.com/media/G3Pwe1sXAAEV8vt?format=jpg&name=900x900);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
div .engagments{
     display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 90px;
}
.ments{
    display: flex;
    justify-content: end;
   
}
.chat, .repost, .like, .stats, .bookmark, .share{
    width: 20px;
    margin-left: 5px;
    
    
}

.chat{
    margin-left: 20px;
}
.chat:hover path{
    fill: #1c96e8;
}
.repost:hover path{
    fill: #00ad74;
}
.like:hover path{
    fill: #f91880;
;
}
.stats:hover path{
    fill: #1c96e8;
}
.bookmark:hover path{
    fill: #1c96e8;
}
.share:hover path{
    fill: #1c96e8;
}
.larger-container{
    display: flex;
   justify-content: start;
   gap: 120px;
}
.medium-container{
    margin-left: 8%;

    
}




















@media (min-width: 768px) and (max-width: 1024px) {
    .medium-container{
        margin-left: 5% !important;
    }
     .box, .hacker, .ghost, .samsung{
        height: 50vh;
    }
    .search{
        height: 4vh;
    }
    .input{
         height: 5vh;
    }
}

@media (max-width: 1024px){
    .not-show{
        display: none;
    }
    .daddyy{
    display: none;
    }
    .sogo{
    display: block;
    width: 26px;
    padding-top: 23px
   }
   .tics{
        display: block;
        margin-top: 270px;
        margin-left: -5px !important;
    }
    .pics{
        display: none !important;
    }
    .medium-container{
        margin-left: 0.5%;
    }
    
    .undefined{
        height: auto;
    }
    .axios{
        display: none ;
    }
}


@media (max-width: 700px) {
    .head{
        width: 100%;
    }
    .post{
        width: 84%;
    }
    .sogo{
        display: none;
    }
    .pics{
        display: block !important;
    }
    
   
}
@media (max-width: 706px) {
    .head{
        width: 85%;
    }
    .bobby{
        display: none;
    }
     .second{
        margin-left: 40%;
    } 
    .word{
        display: none;
    }
    .undefined{
        width: 85%;
    }
     .axios{
        width: 84.5%;
       position: absolute;
       top: 102px;
       height: 51vh;
       
    } 
    .fined{
        width: 85%;
    }
    .sogo{
        display: none !important;
    }
    .notify{
        width: 84%;
    }
    .not-show{
        display: none;
    }
    .daddyy{
        display: none;
    }
    .set{
    position: fixed;
    z-index: 999;
    left: 93%;
    }
    
}
@media (min-width: 706px) and (max-width: 1024px) {
     .ox{
        height: 35vh;
    }
    .box{
        height: 35vh;
    }
    .tox{
        height: 35vh;
    }
    .cox{
        height: 35vh;
    }
    .dox{
        height: 30vh;
    }
    .eox{
        height: 35vh;
    }
    .yupu{
        height: 4vh;
    }
}
@media (max-width: 500px) {
    body{
        margin: 0;
        padding: 0;
    }
    .input{
        height: 6vh;
        width: 65% !important;
    }
    .ox{
        height: 35vh;
    }
    .box{
        height: 35vh;
    }
    .tox{
        height: 35vh;
    }
    .cox{
        height: 35vh;
    }
    .dox{
        height: 30vh;
    }
    .eox{
        height: 35vh;
    }
    .yupu{
        height: 4vh;
    }
    .axios{
        display: none !important;
    }
    .bobby{
        display: none;
    }
    .larger-container{
        display: block;
    }
   .parent-container{
    position: static;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
   }
  
   .undefined{
    margin: auto;
   }
   .fined{
    margin: auto;
   }
   .post{
    margin: auto;
    display: none;
   }
   .head{
    margin: auto;
    height: 18vh;
    position: relative;
    align-items: end;
    padding-top:10px;
    
   }
   .son{
    align-items: end;
    border: none;
    
    
   }
   .sogo{
    display: none;
   }
   .oic{
    display: block;
   }
   .second{
      display: none;
       

    }
    .leave{
        width: 55px;
        height: 55px;
        position: fixed;
        bottom: 65px;
        right: 20px;
        background-color:  #1d9bf0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .more{
        display: none;
    }
    .undefined{
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
       height: auto;
        border-bottom: 1px solid  #31373a;
        
    }
    .fined{
        height: 32vh;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid  #31373a;
    }
    .head{
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
     border-bottom: 1px solid #31373a;
    }
    
   .footer{
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 7vh;
      border: 1px solid #31373a;
      border-left: none;
      border-right: none;
      border-bottom: none;
      background-color: rgba(0, 0, 0, 0.158);
      z-index: 1000;
      /* padding-bottom: 10px; */
   }
   .not-show{
    display: none;
   }
   .daddyy{
    display: none;
   }
   .nicolo:hover .no-display{
    display: none;
   }
   .notify{
    margin-left: 15%;
   }
   .set{
    position: absolute;
    z-index: 999;
    left: 93%;
    }
    div .engagments{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 45px;
   
    }
    .ments{
        display: flex;
        justify-content: end;
        /* padding-left: 100px; */
    
    }
    .chat, .repost, .like, .stats, .bookmark, .share{
        width: 20px;
        margin-left: 5px;
        
        
    }
    .chat{
        margin-left: 0;
   }
}   