body{
    background-color: black;
    display: block;
  
}
html, body {
  overflow: hidden;
  height: 100%;
}
.none{
            margin-top: 10px !important;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 95vh;
            gap: 20px;
            position: fixed;
            width: 12%;
            top: 0;
            overflow-x: auto;
            color-scheme: dark;
            scrollbar-color: rgb(62, 65, 68) rgb(22, 24, 28);
            align-items: end;
            
}
.karem{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
           gap: 20PX;
            
        }
.mogo{
    display: none;
}
.pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(https://i.pinimg.com/originals/4b/5b/c5/4b5bc5355bb1caeeb1094603a01c77d1.jpg);
    background-position: center;
    background-size: cover;
    border: 1px solid #31373a  ;
}
video#bg-video {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1; 
}

    
    .content {
      position: relative;
      color: white;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      font-family: sans-serif;
}
.head{
   
    margin-left: 14%;                
       
    width: 79%;               
    height: 53px;
    border: 1px solid #31373a;
    
    background: rgba(0,0,0,0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding-left: 16px;
    padding-right: 16px;
    border-top: 0;
    border-bottom: none;
}
.son{
    border: 1px solid #6d7b82; height: 50px; width: 100%; padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: row;
    border: 0;
    height: 50px;
}
.undefined{
  
    margin-left: 14%;
    border: 1px solid  #31373a;
    width: 79%;
    height: 100vh;
    border-top: 0;
    padding-top: 30vh;
    padding-bottom: 64px;
    border-bottom: 0;
}
.oic{
    display: none;
}
.second{
    margin-left: 70%;
}

.logo{
    width: 26px;
    padding-top: 23px;
}
.sogo{
    display: none;
}
.leave{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.rogo{
    width: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.gogo{
    width: 25px;
   
}
.reshape{
    margin-left: -10px;
}


.pics{
    display: block !important;
    margin-top: 65px !important;
    margin-left: -5px;
}
.tics{
    display: none;
}


.world{
    width: 18px;   
}

.premium-lock{
    padding-left: 20px;
    padding-top: 10px;
  display: flex;
 
   
}
.bef{
    color: white;
}
.bef img{
    width: 40px;
    border-radius: 50%;
}
.twoo{
   width: 30px;
}
.footer{
    display: none;
}

.shad{
   border: none;
  
   border-radius: 4px;
}
.shad:hover{
 background-color:  rgb(22, 24, 28);
}
div .shad{
    background-color: black;
}
.aos{
    display: flex;
    align-items: center;
   gap: 30px;
    
}
 .rik{ padding-left: 100px;}
   
.iii{
    position: relative;
    z-index: -1;
    margin-top: 50px;
    
}
.inp{
    width: 85%;
    height: 60px;
    padding: 12px;
   
     background-position: 8px center;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20'%3E%3Cg%3E%3Cpath fill='white' d='M14 4c-1.66 0-3 1.34-3 3v8c0 .55.45 1 1 1s1-.45 1-1V8h2v7c0 1.66-1.34 3-3 3s-3-1.34-3-3V7c0-2.76 2.24-5 5-5s5 2.24 5 5v8c0 3.87-3.13 7-7 7s-7-3.13-7-7V8h2v7c0 2.76 2.24 5 5 5s5-2.24 5-5V7c0-1.66-1.34-3-3-3z'/%3E%3C/g%3E%3C/svg%3E") no-repeat left center;
    border: 1px solid #31373a;
   border-radius: 30px;
   
   background-position: 8px center;
    color: white;
     padding-left: 40px;
    
}
.inp:focus-within{
    border: 1px solid #727a7d;
    outline: none;
    
}
.sup{
    opacity: 0;
}
.abssol{
    position: relative;
    left: 70px;
}
.resl{
    position: relative;
    
    left: 2px;
}
.yupu{
    border: 2px solid white;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    
}
.yeah{
    font-size: 14px;
    font-weight: 700;}

.rew:focus-within .shad{
     opacity: 0;
     display: none;
}
.tar{
    display: flex; gap: 15px;
}
#vv{
    display: none;
}
.only{
    display: none;
}
.aox{
    display: none !important;
}












@media(min-width: 544px) and (max-width: 700px){
     .head, .undefined{
        width: 85%;
    }
    .rew{
      display: none;
     }
}   
@media (min-width: 1024px) and (max-width: 1029px) {
   .mogo{
    display: block;
   
   }
   .none{
     width: 10%;
     align-items: center;
   }
 
   .head, .undefined{
        width: 85%;
    }
   
}
@media (min-width: 912px) and (max-width: 915px) {
    .mogo{
        display: block;
    }
}
@media (max-width: 700px) {
    
    .pics{
        display: block !important;
    }
   
}
@media (max-width: 1024px){
  
   .tics{
        display: block;
        margin-top: 270px;
        margin-left: -5px !important;
    }
}
@media (min-width: 820px) and (max-width: 854px) {
  
   .mogo{
    display: block;
   }
}
@media (min-width: 768px) and (max-width: 769px) {
    .mogo{
        display: block;
    }
    .rew{
        display: none;
    }
  
}
@media (min-width: 780px) and (max-width: 854px) {
    .tics{
        margin-top: 450px !important;
    }
}
@media (min-width: 1024px) and (max-width: 1026px) {
    .tics{
    margin-top: 630px !important;
   
  }
  
}
@media (min-width: 912px) and (max-width: 915px) {
    .tics{
    margin-top: 630px !important;
   
     } 
}
@media (min-width: 540px) and (max-width: 545px){
      .mogo{
        display: block;
      }
      .karem{
        gap: 15px;
      }
        .box, .hacker, .ghost, .samsung{
        height: 50vh;
    }
    .rik{
        padding-left: 20px;
    }
    div .engagments{
    gap: 70px;
 
    }
    .resl{
        left: 15px;
    }
    .head, .undefined{
        width: 85%;
    }
    .rew{
        display: none;
    }
   
}
@media(max-width: 1016px){
    
    .second{
        margin-left: 40%;
    }
    .inp{
        width: 100%;
    }
}
@media (max-width: 500px) {
    body{
        margin: 0;
        padding: 0;
    }
    .bobby{
        display: none;
    }
    .larger-container{
        display: block;
        overflow: hidden !important;
    }
    #vv{
        display: block;
    }
    .tt{
        width: 20px;
    }
   .son{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 0 ;
    border: none;
   }
   .abssol{
    left: 0;
   }
   
    .rew{
        display: none;
    }
   .parent-container{
    position: static;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
   }
  
   .undefined{
    margin: auto;
   }
   .fined{
    margin: auto;
   }
   .post{
    margin: auto;
    display: none;
   }
   .head{
    border: none;
    margin: auto;
    height: 53px;
    position: relative;
    align-items: center;
   
   
   }
   .son{
    align-items: center;
    border: none;
    
    
   }
   .iii{
    margin-left: 80px;
   }
   .sogo{
    display: none;
   }
   .oic{
    display: block;
   }
   .second{
      display: none;
       

    }
    .sup{
        display: none !important;
    }
    .leave{
        width: 55px;
        height: 55px;
        position: fixed;
        bottom: 65px;
        right: 20px;
        background-color:  #1d9bf0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .more{
        display: none;
    }
    .undefined{
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        height: auto;
        border-bottom: 1px solid  #31373a;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 95vh;
    }
    .none{
        display: none;
    }
   
    .fined{
        height: auto;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid  #31373a;
    }
    .head{
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
      ;
     border-bottom: 1px solid #31373a;
     
    }
   .uy{
    display: none;
   }
   .tar{
    gap: 5px;
   }
   .footer{
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 7vh;
      border: 1px solid #31373a;
      border-left: none;
      border-right: none;
      border-bottom: none;
      background-color: rgba(0, 0, 0, 0.158);
      z-index: 1000;
     
   }
   .not-show{
    display: none;
   }
   .daddyy{
    display: none;
   }
   .nicolo:hover .no-display{
    display: none;
   }
   .notify{
    margin-left: 15%;
   }
   .set{
    position: absolute;
    z-index: 999;
    left: 93%;
    }
    .footer .world{
      width: 1.75rem;
    }
    .only{
        display: block;
    }
    #tl{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: start;
        padding: 12px;
        background-color: rgb(22, 24, 28);
    }
    .inp{
        background-color: rgb(22, 24, 28);
        height: 93.67px;
    }
    #olum{
        display: flex;
        flex-direction: column-reverse;
      gap: 10px;

    }
    .eee{
        margin-bottom: 0 !important;
    }
}   .aox{
    display: block !important;
    border: 1px solid white;
    width: 100%;
    height: auto;
    border: none;
}