body{
    background-color: black;
}
.parent-container{
    position: fixed;
    width: 15%;
    height: 100vh;
    top: 0;
    background-color: black;
    z-index: 3;
}

.xx{
    display: none;
}
.head{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid #31373a;
    margin-left: 15%;
    width: 590px;
    height: 9vh;
    background: rgba(0, 0, 0, 0.4);
   backdrop-filter: blur(10px);
    border-top: 0;
    
}
.son{
    display: flex;
    align-items: center;
    width: 100%;
    height: 9vh;
    outline: none;
    overflow-x: auto;
    gap: 20px;
    white-space: nowrap;
    padding-left: 20px;
}
.son::-webkit-scrollbar{
    overflow: hidden;
}
.son div{
    padding-top: 13px;
    color: #6e7378;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
}
.son div:hover{
    color: white;
    font-weight: 700;
    font-family: sans-serif;
}
.second{
    margin-left: 60%;
}

.logo{
    width: 30px;
    padding-top: 20px;
}
.leave{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.rogo{
    width: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.gogo{
    width: 25px;
   
}
.reshape{
    margin-left: -10px;
}
.post{
    margin-left: 15%;
    width: 590px;
    height: 33vh;
    border: 1px solid #31373a;
    outline: none;
}
.Everyone{
    color: #1c96e8;
    background-color: black;
    border-radius: 10px;
    margin: 10px;
    margin-left: 55px;
    text-align: center;
    outline: none;
}
/* select .unity{
    border: 1px solid green;
    width: 300px;
    height: 40vh;
} */
.happen{
    font-size: 20px;
    color: #696e72;
    width: 80%;
    color: white;
    margin: 10px;
    margin-left: 55px;
    background-color: black;
    border: none;
    outline: none;
}
.world{
    width: 20px;
    
}
.reply{
    color: #1d9bf0;
    font-weight: bolder;
    font-size: 14px;
    padding-left: 6px;
    
}
div button{
    background: black;
    border: none;
}
.www{
    margin-left: 50px;
    background-color: black;
   
}
.line{
    border: 1px solid #31373a;
    width: 85%;
    margin: 10px;
    margin-left: 55px;
}
.emoji{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px;
    margin-left: 55px;
}

.host{
    background-color: #787a7a;
    width: 80px;
    height: 6vh;
    border-radius: 20px;
    margin-left: 150px;
   
    
   
   
}
.rost{
    font-weight: bolder;
}
.word{
    width: 20px;
}
.undefined{
    margin-left: 15%;
    border: 1px solid  #31373a;
    width: 590px;
    height: 100vh;
    
}
.fined{
    margin-left: 15%;
    border: 1px solid  #31373a;
    width: 590px;
    height: 72vh;
    
}
.nicolo{
    position: relative;
}
.define{
    color: white;
    margin-left: 65px;
    font-family: sans-serif;
    font-weight: 700;
    /* position: relative; */
}
.nicolo:hover .no-display{
    display: block;
    top: 45px;
       
}
.under{
    color: white;
    font-size: 19px;
    font-weight: 700;
    font-family: cursive;
}
.no-display{
    position: absolute;
    border: 1px solid white;
    border: none;
    width: 300px;
    z-index: 2;
    height: 50vh;
    border-radius: 10px;
    display: none;
    transition: 1s;
   background-color: black;
    box-shadow: 0 0 10px rgba(162, 159, 159, 0.918);
}

.define:hover{
    text-decoration: underline;
}
.username{
    font-size: 15px;
    color: gray;
    font-weight: 400;  
}
.username:hover{
    text-decoration: none;
}
.twitter-tweet{
    margin-left: 15%;
   border: none;
}
.inner{
    color: white;
    margin-left: 65px;
    font-family: sans-serif;
    font-size: 15px;
}
div img{
    position: absolute;
    margin-left: 10px;
}
.machia{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.box{
    margin-top: 10px;
    width: 85%;
    height: 84vh;
    margin-left: 60px;
    background-image: url(https://th.bing.com/th/id/OIP.__k28Nas5RHAsh6UcXwg3QHaE8?w=266&h=180&c=7&r=0&o=7&dpr=1.5&pid=1.7&rm=3);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
div .engagments{
     display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 90px;
}
.ments{
    display: flex;
    justify-content: end;
   
}
.chat, .repost, .like, .stats, .bookmark, .share{
    width: 20px;
    margin-left: 5px;
    
    
}
.chat{
    margin-left: 20px;
}
.chat:hover path{
    fill: #1c96e8;
}
.repost:hover path{
    fill: #00ad74;
}
.like:hover path{
    fill: #f91880;
;
}
.stats:hover path{
    fill: #1c96e8;
}
.bookmark:hover path{
    fill: #1c96e8;
}
.share:hover path{
    fill: #1c96e8;
}
.video{
   width: 100%;
    height: 47vh;
    border-radius: 20px;
}
.hacker{
    margin-top: 10px;
    width: 85%;
    height: 84vh;
    margin-left: 60px;
    background-image: url(https://images.hdqwalls.com/download/anonymous-hoodie-good-or-bad-3n-1125x2436.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.ghost{
     margin-top: 10px;
    width: 85%;
    height: 84vh;
    margin-left: 60px;
    background-image: url(https://wallpapers.com/images/hd/vendetta-mask-hacker-full-hd-esk7rrp14sr7mn65.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.samsung{
    margin-top: 10px;
    width: 85%;
    height: 84vh;
    margin-left: 60px;
    background-image: url("X VIDEOS AND IMAGES/thirtheen.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.video{
    margin-left: 60px;
    width: 80%;
    
}
.footer{
    display: none;
}
.daddyy {
  margin-left: 65%;
  margin-top: -854.5%; 
}


.search{
    border: 1px solid white;
    width: 360px;
    height: 9vh;
    position: fixed;
    background-color: black;
    top: 0;
    z-index: 4;
    border: none;
    
}

.input{
    position: fixed;
    z-index: 999;
    display: flex;
    top: 6px;
    align-items: center;
    font-size: 14px;
    width: 350px;
    height: 7.5vh; 
    background-color: black;
    border: none;
    border: 1px solid #31373a;
    border-radius: 20px;
    padding-left: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='15'%3E%3Cg%3E%3Cpath fill='gray' d='M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z'/%3E%3C/g%3E%3C/svg%3E") no-repeat left center;
    padding-left: 30px;
    background-position: 8px center;
    color: white;

 
    
}
.input:focus{
    border: 2px solid #1c96e8;
    outline: none;
}

.mummyy{
   margin-top: 7px;
   height: 500px;
   border: 1px solid white;
   width: 450px;
   height: 90vh;
   position: fixed;
   overflow: auto;
   border-radius: 10px;
   border: none;
 
}
.mummyy::-webkit-scrollbar{
    overflow: hidden;
}
.subscribe{
    border: 1px solid #31373a;
    height: 27vh;
    width: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
    
   
}
.space{
    border: 1px solid #31373a;
    height: 50vh;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.news{
    border: 1px solid #31373a;
    height: 55vh;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.currently{
    border: 1px solid #31373a;
    height: 75vh;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.to{
    border: 1px solid #31373a;
    height: 40vh;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
   
}

.premium-unlock{
    padding: 30px;
    padding-left: 15px;
    padding-top: 10px;
}
.premium{
    font-size: 20px;
    font-weight: 800;
    color: #e7e6e6;
   
   
}
.unlock{
    color: #e7e6e6;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 0 !important;   
}
.rive{
    padding-top: 10px;
}
.scripe{
    border: 1px solid blue;
    width: 110px;
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: #1d9bf0;
    cursor: pointer;
    justify-content: center;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    
}
.scribe{
    color: white;
    font-size: 15px;
    font-weight: 700;
}
.ace{
    color: white;
    font-size: 20px;
    font-weight: 800;
    font-family: sans-serif;
}
.case{
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    
    
}
.side{
    display: flex;
    gap: 20px;
}
.purple{
    border: 2px solid #7856ff;
    width: 130px;
    height: 6vh;
    border-radius: 20px;
    display: flex;
   
    justify-content: flex-start;
    gap: 20px; 
}
 .purple img{
  width: 30px;
  height: 30px;
  border-radius: 50%; 
}
.dds img{
    margin-left: 0;
    padding-left: 0;
}
.yip{
    color: white;
    font-weight: bold;
    position: absolute;
    z-index: 3;
    right: 130px;
}
.free{
    padding-top: 25px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.Surple{
    display: flex;
    justify-content: flex-start;
    gap: 20px; 
}
.Surple img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.orts{
    color: gray;
    font-size: 13px;
    margin-left: 20px;
}
.wooo img{
    border-radius: 20px;
}
.turple{
    display: flex;
    justify-content: flex-start;
    gap: 120px;
}
.lace{
    font-size: 15px;
    font-weight: 700;
    color: white;
}
.tik{
    color: #65696e;
    font-size: 14px;
  
}
.ree{
    padding-top: 25px;
    display: flex;
    gap: 165px;
}
.cod{
    width: 20px;
}
.tide{
    display: flex;
    gap: 180px;
}
.yupu{
    border: 2px solid white;
    width: 100px;
    height: 6vh;
    border-radius: 20px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin-top: -20px;
}
.yeah{
    font-size: 14px;
    font-weight: 700;
   
}
.tuuu{
    font-size: 11px;
    color: gray;
    text-align: center;
   word-spacing:5px;
}
.bobby{
    position: fixed;
    right: 20px;
    bottom: 30px;
    border: 1px solid black;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 20px;
    align-items: center;
   box-shadow: 0 0 10px rgba(162, 159, 159, 0.918);

   
}
.mogo{
    width: 30px;
}
.pics{
    margin-top: 65px;
    margin-left: -13px;
}
.pic img{
    width: 45px;
    border-radius: 50%;
}


























@media (max-width: 700px) {
    .head{
        width: 100%;
    }
    .post{
        width: 84%;
    }
}
@media (max-width: 706px) {
    .head{
        width: 84%;
    }
     .second{
        margin-left: 40%;
    } 
    .word{
        display: none;
    }
    .undefined{
        width: 84%;
    }
    .fined{
        width: 84%;
    }
    .not-show{
        display: none;
    }
    .daddyy{
        display: none;
    }
}
@media (max-width: 500px) {
    body{
        margin: 0;
        padding: 0;
    }
    .bobby{
        display: none;
    }

   .parent-container{
    position: static;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
   }
   
   .undefined{
    margin: auto;
   }
   .fined{
    margin: auto;
   }
   .post{
    margin: auto;
    display: none;
   }
   .head{
    margin: auto;
    height: 13vh;
    position: relative;
    align-items: end;
    padding-top:10px;
    
   }
   .son{
    align-items: end;
    border: none;
    
    
   }

   .second{
      display: none;
       

    }
    .leave{
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 80px;
        right: 20px;
        background-color:  #1d9bf0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .more{
        display: none;
    }
    .xx{
        display: flex;
        position: fixed;
        top: -17px;
        left: 200px;
        margin-top: 10px;
        
    }
    .undefined{
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 65vh;
        border-bottom: 1px solid  #31373a;
        
    }
    .fined{
        height: 62vh;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid  #31373a;
    }
    .head{
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
     border-bottom: 1px solid #31373a;
    }
    .box{
        margin-top: 10px;
        width: 75%;
        height: 50vh;
        margin-left: 60px;
        background-image: url(https://th.bing.com/th/id/OIP.__k28Nas5RHAsh6UcXwg3QHaE8?w=266&h=180&c=7&r=0&o=7&dpr=1.5&pid=1.7&rm=3);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
       
        
    }
    .hacker{
    margin-top: 10px;
    width: 75%;
    height: 50vh;
    margin-left: 60px;
    background-image: url(https://images.hdqwalls.com/download/anonymous-hoodie-good-or-bad-3n-1125x2436.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
    .ghost{
        margin-top: 10px;
        width: 75%;
        height: 50vh;
        margin-left: 60px;
        background-image: url(https://wallpapers.com/images/hd/vendetta-mask-hacker-full-hd-esk7rrp14sr7mn65.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
    }
    .samsung{
        margin-top: 10px;
        width: 75%;
        height: 50vh;
        margin-left: 60px;
        background-image: url("X VIDEOS AND IMAGES/thirtheen.jpeg");
        background-position: center;
        background-size: cover;
        border-radius: 20px;
    }
    .video{
        width: 80%;
        height: 40vh;
        margin-left: 60px;
        
    }
    
    div .engagments{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 45px;
   
    }
    .ments{
        display: flex;
        justify-content: end;
        /* padding-left: 100px; */
    
    }
    .chat, .repost, .like, .stats, .bookmark, .share{
        width: 20px;
        margin-left: 5px;
        
        
    }
    .chat{
        margin-left: 0;
   }
   .footer{
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 7vh;
      border: 1px solid #31373a;
      border-left: none;
      border-right: none;
      border-bottom: none;
      background-color: rgba(0, 0, 0, 0.158);
      z-index: 1000;
      /* padding-bottom: 10px; */
   }
   .not-show{
    display: none;
   }
   .daddyy{
    display: none;
   }
   .nicolo:hover .no-display{
    display: none;
    
}
   
   
}@media (max-width: 1016px){
    .not-show{
        display: none;
    }
    .daddyy{
    display: none;
    }
}