body{
    background-color: black;
}
.contain{
    margin-left: 100px;
    display: flex;
    justify-content: center;
}
.container2{
    margin-left: 180px;
    margin-top: 70px;
}
.log{
    display: flex;
    align-items: center;
    margin-left: -70px;
}
.logo{
    width: 300px;
}
.now{
    color: #e7e9ea;
    font-size: 70px;
    font-weight: bolder;
    font-family: sans-serif;
}
span.now{
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
}
.wee{
    margin-top: 40px;
    margin-bottom: 20px;
}
.join{
    color: white;
    font-size: 32px;
    font-weight: bolder;
    font-family: sans-serif;
}
.span.join{
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
    
} 
.signin{
    display: flex;
    align-items: center;
    height: 7.5vh;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 13px;
    border: none;
}
.signin:hover{
    background-color: rgba(237, 237, 243, 0.961);
}   
 .Y{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c6bc0;
    color: white;
    border-radius: 50%;;
    height: 20px;
    width: 20px;
    font-size: 10px;
}
.yusuf{
   
    color: black;
    font-size: 11px;
    font-weight: bolder;
}
.yy{
    font-size: 11px;
    color: rgb(101, 100, 100);
   
   
}
.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.5vh;
    width:300px;
    border-radius: 20px;
    color: black;
    font-size: 15px;
    background: white;
    margin-bottom: 10px;
    border: none;
}
.signup:hover{
    background-color: rgba(242, 242, 242, 0.938);
}
.or{
    color: #e7e9ea;
    font-family: sans-serif;
}
.or::before{
    content: "";
    display: inline-block;
    width: 125px;
    border: 1px solid gray;
    margin-right: 10px;
    vertical-align: middle;
}
.or::after{
    content: "";
    display: inline-block;
    width: 125px;
    border: 1px solid gray;
    background-color: gray;
    margin-left: 10px;
    vertical-align: middle;
}
.create{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.5vh;
    width:300px;
    border-radius: 20px;
    color: black;
    font-size: 15px;
    background: white;
    margin-top: 9px;
    font-weight: 700;
    border: none;
}
.create:hover{
    background-color: rgba(242, 242, 242, 0.938);
}
.terms{
    color: gray;
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 10px;
}
.service{
    color: #127de0;
}
 .service:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
 }
 .Privacy{
    color: #127de0;
 }
 .Privacy:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 3px;
 }
 .buttons{
    margin-top: 20px;
    margin-bottom: 10px;
 }
 .google{
    margin-left: 120px;
 }
.have{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    /* margin-top: 50px; */
}
.getin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.5vh;
    width:300px;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 700;
    border: 1px solid #3e4b55;
    text-decoration: none;
}
.getin:hover{
    background-color:  rgba(230, 223, 223, 0.096);
    cursor: pointer;
}
.grok{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.5vh;
    width:300px;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 700;
    border: 1px solid #3e4b55;
}
.grok:hover{
    background-color:  rgba(230, 223, 223, 0.096);
    cursor: pointer;
}
.Already{
    margin-top: 40px;
}
.app{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.5vh;
    width:300px;
    display: none;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 700;
    border: 1px solid #3e4b55;
}
.app:hover{
    background-color:  rgba(230, 223, 223, 0.096);
    cursor: pointer;
}
.ogo{
    width: 20px;
}
/* .karem{
    color: white;
    display: block;
    flex-direction: column;
} */
@media (max-width: 1000px) {
    .logo{
        width: 30px;
    }
    .contain{
        display: block;
        margin-left: 50px;
    }
    .log{
        margin-left: 0px;
        margin-top: 30px;
    }
    .container2{
        margin-left: 0px;
        margin-top: 40px;
    }
    .grok{
        display: none;
    }
    .app{
        display: flex;
    }
}
@media (max-width: 512px) {
    .now{
        font-size: 2.6rem;
        font-weight: 900px;
    }
    .join{
        font-size: 23px;
        line-height: 28px;
    }
}
/* @media (max-width: 360px) {
    .or{
    color: #e7e9ea;
    font-family: sans-serif;
}
.or::before{
    content: "";
    display: inline-block;
    width: 100px;
    border: 1px solid gray;
    margin-right: 10px;
    vertical-align: middle;
}
.or::after{
    content: "";
    display: inline-block;
    width: 100px;
    border: 1px solid gray;
    background-color: gray;
    margin-left: 10px;
    vertical-align: middle;
} */