body{
    background-color: black;
   
}
.parent-container{
    position: fixed;
    width: 14%;
    height: 100vh;
    top: 0;
    background-color: black;
    z-index: 3;
}

.xx{
    display: none;
}
.notify{
    position: absolute;
    color: #e4e6e7;
    font-size: 20px;
    font-weight: 700;
    margin-left: 3%;
    top: -90px;
    padding-top: 100px;
    
}
.set{
    position: fixed;
    top: 0;
    left: 83%;
}
.settings{
    width: 20px;
    z-index: 999;
    padding-top: 15px;
}
.plus{
    position: fixed;
    top: 0;
    left: 92%;
}
.pluss{
    width: 20px;
    z-index: 999;
    padding-top: 15px;
}
.head{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: end;
    border: 1px solid #31373a;
    margin-left: 14%;
    width: 400px;
    height: 8vh;
    background: rgba(0, 0, 0, 0.4);
   backdrop-filter: blur(10px);
    border-top: 0;
     border-bottom: 0;
    
}
.son{
    display: flex;
    align-items: end;
    justify-content: space-around;
    width: 100%;
    height: 15vh;
    outline: none;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 15px;
}
.son::-webkit-scrollbar{
    overflow: hidden;
}
.son div{
    padding-top: 13px;
    color: #6e7378;
    font-size: 15px;
    font-weight: 540;
    font-family: Arial, Helvetica, sans-serif;
}
.son div:hover{
    color: white;
    font-weight: 700;
    font-family: sans-serif;
   

}
.second{
    margin-left: 70%;
}

.logo{
    width: 26px;
    padding-top: 23px;
}
.leave{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.rogo{
    width: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.gogo{
    width: 25px;
   
}
.reshape{
    margin-left: -10px;
}
.undefined{
    margin-left: 14%;
    border: 1px solid  #31373a;
    width: 400px;
    height: 105vh;
    border-top: 0;
    overflow-y: scroll;
    overscroll-behavior-y: none;
    font-size: 15px;
    color-scheme: dark;
    scrollbar-color: rgb(62, 65, 68) rgb(22, 24, 28);
    outline: none;

}

.daddyy {
  margin-left: 65%;
  margin-top: -140%; 
}
.mummyy{
   margin-top: 7px;
   height: 600px;
   border: 1px solid white;
   width: 450px;
   height: 90vh;
   position: fixed;
   overflow: auto;
   border-radius: 10px;
   border: none; 
 
}
.mummyy::-webkit-scrollbar{
    overflow: hidden;
}
.subscribe{
    border: 1px solid #31373a;
    height: 27vh;
    width: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
    
   
}
.space{
    border: 1px solid #31373a;
    height: 50vh;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.news{
    border: 1px solid #31373a;
    height: 55vh;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.currently{
    border: 1px solid #31373a;
    height: 75vh;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.to{
    border: 1px solid #31373a;
    height: 40vh;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
   
}

.premium-unlock{
    padding: 30px;
    padding-left: 15px;
    padding-top: 10px;
}
.premium{
    font-size: 20px;
    font-weight: 800;
    color: #e7e6e6;
   
   
}
.unlock{
    color: #e7e6e6;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 0 !important;   
}
.rive{
    padding-top: 10px;
}
.scripe{
    border: 1px solid blue;
    width: 110px;
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: #1d9bf0;
    cursor: pointer;
    justify-content: center;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    
}
.scribe{
    color: white;
    font-size: 15px;
    font-weight: 700;
}
.ace{
    color: white;
    font-size: 20px;
    font-weight: 800;
    font-family: sans-serif;
}
.case{
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    
    
}
.side{
    display: flex;
    gap: 20px;
}
.purple{
    border: 2px solid #f91880;
    width: 130px;
    height: 6vh;
    
    display: flex;
   
    justify-content: flex-start;
    /* gap: 20px;  */
}
 .purple img{
  width: 30px;
  height: 30px;
  border-radius: 50%; 
}
.dds img{
    margin-left: 0;
    padding-left: 0;
}
.yip{
    color: white;
    font-weight: bold;
    position: absolute;
    z-index: 3;
    right: 120px;
}
.free{
    padding-top: 25px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.Surple{
    display: flex;
    justify-content: flex-start;
    gap: 20px; 
}
.Surple img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.orts{
    color: gray;
    font-size: 13px;
    margin-left: 20px;
}
.wooo img{
    border-radius: 20px;
}
.turple{
    display: flex;
    justify-content: flex-start;
    
}
.lace{
    font-size: 15px;
    font-weight: 700;
    color: white;
}
.tik{
    color: #65696e;
    font-size: 14px;
  
}
.ree{
    padding-top: 25px;
    display: flex;
    gap: 165px;
}
.cod{
    width: 20px;
}
.tide{
    display: flex;
    gap: 180px;
}
.yupu{
    border: 2px solid white;
    width: 100px;
    height: 6vh;
    border-radius: 20px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin-top: -20px;
}
.yeah{
    font-size: 14px;
    font-weight: 700;
   
}
.tuuu{
    font-size: 11px;
    color: gray;
    text-align: center;
   word-spacing:5px;
}
.bobby{
    position: fixed;
    right: 20px;
    bottom: 30px;
    border: 1px solid black;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 20px;
    align-items: center;
   box-shadow: 0 0 10px rgba(162, 159, 159, 0.918);
  
}
.mogo{
    width: 30px;
}
.oic{
    display: none;
}
.pics{
    display: block !important;
    margin-top: 65px !important;
    margin-left: -5px;
}
.pic img{
    width: 40px;
    border-radius: 50%;
}
.sogo{
    display: none;
}
.world{
    width: 18px;   
}
.username{
   font-size: 15px;
    color: gray;
    font-weight: 400;  
}
.premium-ock{
    margin-top: 15px; 
    padding-top: 10px;
}
.premium-lock{
    margin-top: 15px;
    margin-left: 3%;
    padding-top: 10px;
}
.bef{
    color: white;
}
.bef img{
    width: 40px;
    border-radius: 50%;
}
.twoo{
   width: 30px;
}
.footer{
    display: none;
}

.tunt{
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 97%;
    height: 7.5vh; 
    cursor: pointer;
    background-color: black;
    border: none;
    border: 1px solid #31373a;
    border-radius: 20px;
    padding-left: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='15'%3E%3Cg%3E%3Cpath fill='gray' d='M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z'/%3E%3C/g%3E%3C/svg%3E") no-repeat left center;
    padding-left: 30px;
    background-position: 8px center;
    color: white;
    font-family: inter, sans-serif;
}
.tunt:focus-within{
    border: 2px solid #1c96e8;
    outline: none;
}
.tint{
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100%;
    height: 12vh; 
    border: 1px solid #31373a;
    background-color: black;
    padding-left: 20px;
    background-position: 8px center;
    color: white;
    font-size: 17px;
    gap: 20px;
    cursor: pointer;
    border: none;
    font-weight: 700;
    font-family: inter, sans-serif;
}
.tint:hover{
     background-color:  rgb(22, 24, 28);
}
.beta{
    position: relative;
    right: -200px;
    border: 1px solid white;
   width: 40px;
   height: 3vh;
   border-radius: 3px;
   background-color: #1d9bf0;
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
}
.eta{
    font-size: 13px;
    font-weight: 400;
}
.mess{
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #31373a;
    background-color: black;
    padding-left: 20px;
    background-position: 8px center;
    color: white;
    font-size: 17px;
    gap: 10px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    font-family: inter, sans-serif;
}

.mess:hover{
    background-color:  rgb(22, 24, 28);
}

.never{
    border: 1px solid  #31373a;
    border-left: 0;
    border-top: 0;
    width: 46%;
    position: fixed;
    right: 90px;
    top: 0;
    height: 108vh;
    padding: 0;
}
.newmessage{
    width: 175px; height: 8.5vh; margin-top: 20px; border-radius: 25px; background-color: #1d9bf0; color: white; border: none; font-weight: 700; font-size: 17px;
}
.newmessage:hover{
    background-color:  #3693d0;
}
.tics{
    display: none;
}














@media (min-width: 780px) and (max-width: 854px) {
    .tics{
        margin-top: 450px !important;
    }
}

@media (min-width: 540px) and (max-width: 545px){
       .sogo{
        display: block !important;
        width: 26px;
        padding-top: 15px !important;
       }
       .logo{
        padding-top: 15px !important;
       }
}
@media (min-width: 1024px) and (max-width: 1026px) {
  .parent-container{
    width: 7%;
  }
  .larger-container{
    margin-left: -5%;
  }
  
  .tunt{
    /* width: 290px; */
    height: 3.5vh;
  }
  .tuuu{
    text-align: start;
  }
  .tics{
    margin-top: 630px !important;
   
  }
  .beta{
    height: 1.5vh !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .medium-container{
        margin-left: 5% !important;
    }
    .head{
        height: 8vh ;
    }
}

@media (max-width: 1024px){
    .not-show{
        display: none;
    }
    .daddyy{
    display: none;
    }
    .undefined{
        width: 600px;
    }
    .head{
        width: 600px;
    }
    .never{
        display: none;
    }
     .beta{
    position: relative;
    right: -400px;
    }
    .undefined{
        height: auto;
        overflow: hidden;
      
        padding: 0;
    }
    .premium-Rock{
        margin-top: 0;
        padding-top: 0;
    }
    .tics{
        display: block;
        margin-top: 270px;
        margin-left: -5px !important;
    }
    .pics{
        display: none !important;
    }
    .sogo{
    display: block;
    width: 26px;
    padding-top: 23px
   }
   .medium-container{
        margin-left: 0.5%;
    }

}

@media (max-width: 700px) {
    .head{
        width: 100%;
    }
    .post{
        width: 84%;
    }
    .beta{
    position: absolute;
    right: 34px;
    }
    .pics{
        display: block !important;
    }
    .sogo{
        display: none;
    }
   .undefined{
    height: auto;
    overflow: hidden;
   }
   
  
   
}
@media (max-width: 706px) {
    .head{
        width: 85%;
        
    }
    /* .sogo{
        display: none !important;
    } */
     .second{
        margin-left: 40%;
    } 
    .word{
        display: none;
    }
    .undefined{
        width: 85%;
    }
    .fined{
        width: 84%;
    }
    .beta{
    position: absolute;
    right: 34px;
   }
    .notify{
        width: 84%;
    }
    .not-show{
        display: none;
    }
    .daddyy{
        display: none;
    }
    .set{
    position: fixed;
    z-index: 999;
    left: 86%;
    }
    .plus{
        position: fixed;
        z-index: 999;
        left: 93%;
    }
}
@media (max-width: 500px) {
    body{
        margin: 0;
        padding: 0;
    }
    .bobby{
        display: none;
    }


   .parent-container{
    position: static;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
   }
   .premium-lock{
    margin-top: 0;
   }
   .undefined{
    margin: auto;
   }
   .fined{
    margin: auto;
   }
   .post{
    margin: auto;
    display: none;
   }
   .head{
    margin: auto;
    height: 8vh;
    position: relative;
    align-items: end;
    padding-top:10px;
   
    
   }
   .oic{
    display: block;
    }
  
   .son{
    align-items: end;
    border: none;
    
    
   }
   .tunt{
      position: absolute;
      top: 5px;
   }
   .second{
      display: none;
       

    }
    .leave{
        width: 55px;
        height: 55px;
        position: fixed;
        bottom: 65px;
        right: 20px;
        background-color:  #1d9bf0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .more{
        display: none;
    }
    .undefined{
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        height: auto;
       
        border-bottom: none;
        overflow: hidden;
    }
    .fined{
        
        height: 32vh;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid  #31373a;
    }
    .head{
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
     border-bottom: none;
    }
    
   .footer{
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 7vh;
      border: 1px solid #31373a;
      border-left: none;
      border-right: none;
      border-bottom: none;
      background-color: rgba(0, 0, 0, 0.158);
      z-index: 1000;
      /* padding-bottom: 10px; */
   }
   .not-show{
    display: none;
   }
   .daddyy{
    display: none;
   }
   .nicolo:hover .no-display{
    display: none;
   }
   .notify{
    margin-left: 15%;
   }
   .set{
    position: fixed;
    z-index: 999;
    left: 81%;
    }
    .plus{
        position: fixed;
        z-index: 999;
        left: 91%;
    }
}   