body{
    background-color: black;
}
.none{
            margin-top: 10px !important;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 95vh;
            gap: 20px;
            position: fixed;
            width: 12%;
            top: 0;
            overflow-x: auto;
            color-scheme: dark;
            scrollbar-color: rgb(62, 65, 68) rgb(22, 24, 28);
            align-items: end;
            
}
.karem{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
           gap: 20PX;
            
        }
.mogo{
    display: none;
}
.pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(https://i.pinimg.com/originals/4b/5b/c5/4b5bc5355bb1caeeb1094603a01c77d1.jpg);
    background-position: center;
    background-size: cover;
    border: 1px solid #31373a  ;
}

.xx{
    display: none;
}
.notify{
    position: absolute;
    color: #e4e6e7;
    font-size: 20px;
    font-weight: 700;
    margin-left: 3%;
    top: -90px;
    padding-top: 100px;
    
}
.set{
    position: fixed;
    top: 0;
    left: 95%;
}
.settings{
    width: 20px;
    z-index: 999;
    padding-top: 15px;
}
.head{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: end;
    border: 1px solid #31373a;
    margin-left: 14%;
    width: 590px;
    height: 120px;
    background: rgba(0, 0, 0, 0.4);
   backdrop-filter: blur(10px);
    border-top: 0;
    
}
.son{
    display: flex;
    align-items: end;
    justify-content: space-around;
    width: 100%;
    height: 15vh;
    outline: none;
    overflow-x: auto;
   
    white-space: nowrap;
    padding-bottom: 15px;
}
.son::-webkit-scrollbar{
    overflow: hidden;
}
.son div{
    padding-top: 13px;
    color: #6e7378;
    font-size: 15px;
    font-weight: 540;
    font-family: Arial, Helvetica, sans-serif;
}
.son div:hover{
    color: white;
   border: 1px solid white;
   display: flex;
   justify-content: center;
   
   width: 100px;
   background-color: lightgrey;
   border: none;
   

}
.oic{
    display: none;
}
.second{
    margin-left: 70%;
}

.logo{
    width: 26px;
    padding-top: 23px;
}
.sogo{
    display: none;
}
.leave{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.rogo{
    width: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.gogo{
    width: 25px;
   
}
.reshape{
    margin-left: -10px;
}
.undefined{
    margin-left: 14%;
    border: 1px solid  #31373a;
    width: 590px;
    height: auto;
    padding-bottom: 20px;
    border-bottom: 0;
}
.fined{
    margin-left: 14%;
    border: 1px solid  #31373a;
    width: 590px;
    height: auto;
    padding-bottom: 20px;
    border-bottom: 0;
}



.search{
    border: 1px solid white;
    width: 360px;
    height: 9vh;
    position: fixed;
    background-color: black;
    top: 0;
    z-index: 4;
    border: none;
    
}

.input{
    position: fixed;
    z-index: 999;
    display: flex;
    top: 6px;
    align-items: center;
    font-size: 14px;
    width: 350px;
    height: 7.5vh; 
    background-color: black;
    border: none;
    border: 1px solid #31373a;
    border-radius: 20px;
    padding-left: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='15'%3E%3Cg%3E%3Cpath fill='gray' d='M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z'/%3E%3C/g%3E%3C/svg%3E") no-repeat left center;
    padding-left: 30px;
    background-position: 8px center;
    color: white;

 
    
}
.input:focus{
    border: 2px solid #1c96e8;
    outline: none;
}

.mummyy{
   margin-top: 70px;
   height: 600px;
   border: 1px solid white;
   width: 450px;
   height: 90vh;
   position: fixed;
   overflow: auto;
   border-radius: 10px;
   border: none; 
 
}
.mummyy::-webkit-scrollbar{
    overflow: hidden;
}
.subscribe{
    border: 1px solid #31373a;
    height: auto;
    width: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
    
   
}
.space{
    border: 1px solid #31373a;
    height: auto;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.news{
    border: 1px solid #31373a;
    height: auto;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.currently{
    border: 1px solid #31373a;
    height: auto;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.to{
    border: 1px solid #31373a;
    height: auto;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
   
}

.premium-unlock{
    padding: 30px;
    padding-left: 15px;
    padding-top: 10px;
}
.premium{
    font-size: 20px;
    font-weight: 800;
    color: #e7e6e6;
   
   
}
.unlock{
    color: #e7e6e6;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 0 !important;   
}
.rive{
    padding-top: 10px;
}
.scripe{
    border: 1px solid blue;
    width: 110px;
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: #1d9bf0;
    cursor: pointer;
    justify-content: center;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    
}
.scribe{
    color: white;
    font-size: 15px;
    font-weight: 700;
}
.ace{
    color: white;
    font-size: 20px;
    font-weight: 800;
    font-family: sans-serif;
}
.case{
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    
    
}
.side{
    display: flex;
    gap: 20px;
}
.purple{
    border: 2px solid #f91880;
    width: 130px;
    height: 40px;
    
    display: flex;
   
    justify-content: flex-start;
   
}
 .purple img{
  width: 30px;
  height: 30px;
  border-radius: 50%; 
}
.dds img{
    margin-left: 0;
    padding-left: 0;
}
.yip{
    color: white;
    font-weight: bold;
    position: relative;
    z-index: 3;
    
}
.free{
    padding-top: 25px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.Surple{
    display: flex;
    justify-content: flex-start;
    gap: 20px; 
}
.Surple img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.orts{
    color: gray;
    font-size: 13px;
    margin-left: 20px;
}
#wooo img{
    border-radius: 5px;
    width: 80px;
    height: 60px;
    margin-left: 0;
    
}
.turple{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    
}
.lace{
    font-size: 15px;
    font-weight: 700;
    color: white;
}
.tik{
    color: #65696e;
    font-size: 14px;
  
}
.ree{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
.cod{
    width: 20px;
}
.tide{
    display: flex;
    justify-content: space-between;
}
.yupu{
    border: 2px solid white;
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin-top: -20px;
}
.yeah{
    font-size: 14px;
    font-weight: 700;
   
}
.tuuu{
    font-size: 11px;
    color: gray;
    text-align: center;
   word-spacing:5px;
}
.bobby{
    position: fixed;
    right: 20px;
    bottom: 30px;
    border: 1px solid black;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 20px;
    align-items: center;
   box-shadow: 0 0 10px rgba(162, 159, 159, 0.918);

   
}
.mogo{
    width: 30px;
}
.pics{
    display: block !important;
    margin-top: 65px !important;
    margin-left: -5px;
}
.tics{
    display: none;
}

.pic img{
    width: 40px;
    border-radius: 50%;
}
.world{
    width: 18px;   
}
.username{
   font-size: 15px;
    color: gray;
    font-weight: 400;  
}
.premium-lock{
    padding-left: 20px;
    padding-top: 10px;
}
.bef{
    color: white;
}
.bef img{
    width: 40px;
    border-radius: 50%;
}
.twoo{
   width: 30px;
}
.footer{
    display: none;
}

.larger-container{
    display: flex;
   justify-content: start;
   gap: 120px;
}
.medium-container{
    margin-left: 7%;

    
}



















@media (min-width: 1024px) and (max-width: 1029px) {
     .mogo{
    display: block;
   
   }
   .none{
     width: 10%;
     align-items: center;
   }
   .pics{
    display: none !important;
   }
   .head{
    height: 120px !important;
   }
}
@media (min-width: 912px) and (max-width: 915px) {
    .mogo{
    display: block;
   
   }
   .pics{
    display: none !important;
   }
   .head{
    height: 120px !important;
   }
}
@media (min-width: 912px) and (max-width: 915px) {
    .tics{
    margin-top: 630px !important;
   
     } 
}
@media (min-width: 820px) and (max-width: 854px) {
     .mogo{
    display: block;
   
   }
   .pics{
    display: none !important;
   }
   .head{
    height: 120px !important;
   }
}
@media (min-width: 768px) and (max-width: 769px) {
     .mogo{
    display: block;
   
   }
   .pics{
    display: none !important;
   }
   .head{
    height: 120px !important;
   }
}
@media (min-width: 780px) and (max-width: 854px) {
    .tics{
        margin-top: 450px !important;
    }
}

@media (min-width: 540px) and (max-width: 545px){
 .mogo{
    display: block;
   
   }
    .karem{
        gap: 15px;
      }
    .logo{
        padding-top: 15px !important;
       }
    .box, .hacker, .ghost, .samsung{
        height: 50vh;
    }
    div .engagments{
    gap: 70px;
 
    }
   
}
@media (min-width: 1024px) and (max-width: 1026px) {
  .daddyy{
    display: block !important;
  }
  .subscribe, .space, .news, .currently, .to{
    height: auto;
    width: 290px;
  }
  .parent-container{
    width: 7%;
  }
  .larger-container{
    margin-left: -5%;
  }
  .purple{
    height: 2.5vh;
  }
  .scripe{
     height: 3vh;
  }
  .yip{
    right: 190px;
  }
  .yupu{
    height: 3vh;
    
  }
  .tide{
    gap: 100px;
  }
  .ree{
    gap: 100px;
  }
  .input{
    width: 290px;
    height: 3.5vh;
  }
  .tuuu{
    text-align: start;
  }
  .tics{
    margin-top: 630px !important;
   
  }
  .host{
    height: 3vh;
  }
  .search{
    height: 4vh;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .medium-container{
        margin-left: 5% !important;
    }
    .head{
        height: auto ;
    }
}
@media (max-width: 1024px){
    .not-show{
        display: none;
    }
    .daddyy{
    display: none;
    }
    
   .tics{
        display: block;
        margin-top: 270px;
        margin-left: -5px !important;
    }
   
    .medium-container{
        margin-left: 0.5%;
    }
    .bobby{
        display: none !important;
    }
}

@media (max-width: 700px) {
    .head{
        width: 100%;
    }
    .post{
        width: 84%;
    }
    .sogo{
        display: none;
    }
    .pics{
        display: block !important;
    }
   
}
@media (max-width: 706px) {
    .head{
        width: 85%;
    }
     .second{
        margin-left: 40%;
    }
    .bobby{
        display: none;
    }
    .word{
        display: none;
    }
    .undefined{
        width: 85%;
    }
    .fined{
        width: 85%;
    }
   
    .notify{
        width: 84%;
    }
    .not-show{
        display: none;
    }
    .daddyy{
        display: none;
    }
    .set{
    position: fixed;
    z-index: 999;
    left: 93%;
    }
}
@media (max-width: 500px) {
    body{
        margin: 0;
        padding: 0;
    }
    .bobby{
        display: none;
    }
    .larger-container{
        display: block;
        overflow: hidden !important;
    }

   .parent-container{
    position: static;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
   }
  
   .undefined{
    margin: auto;
   }
   .fined{
    margin: auto;
   }
   .post{
    margin: auto;
    display: none;
   }
   .head{
    margin: auto;
    height: auto;
    position: relative;
    align-items: end;
    padding-top:10px;
    
   }
   .son{
    align-items: end;
    border: none;
    
    
   }
   .sogo{
    display: none;
   }
   .oic{
    display: block;
    position: relative;
    bottom: 3px;
   }
   .second{
      display: none;
       

    }
    .leave{
        width: 55px;
        height: 55px;
        position: fixed;
        bottom: 65px;
        right: 20px;
        background-color:  #1d9bf0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .more{
        display: none;
    }
    .undefined{
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        height: auto;
        border-bottom: 1px solid  #31373a;
        
    }
    .fined{
        height: auto;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid  #31373a;
    }
    .head{
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
     border-bottom: 1px solid #31373a;
    }
    
   .footer{
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 7vh;
      border: 1px solid #31373a;
      border-left: none;
      border-right: none;
      border-bottom: none;
      background-color: rgba(0, 0, 0, 0.158);
      z-index: 1000;
      
   }
   .none{
    display: none;
   }
   .not-show{
    display: none;
   }
   .daddyy{
    display: none;
   }
   .nicolo:hover .no-display{
    display: none;
   }
   .notify{
    margin-left: 15%;
   }
   .set{
    position: absolute;
    z-index: 999;
    left: 93%;
    }
    .footer .world{
      width: 1.75rem;
    }
}   